:root {
  --bg-dark: #0d0d16;
  --bg-light: #f4f6fb;
  --primary-dark: #8a2be2;
  --secondary-dark: #00ff9f;
  --accent-dark: #c084fc;
  --text-dark: #e6e6ff;

  --primary-light: #5b21b6;
  --secondary-light: #059669;
  --text-light: #1e1b4b;
}
/*-- FONT FAMILY --*/
/* **************** */
@font-face {
    font-family: 'oswaldregular';
    src: url('../fonts/oswald-variablefont_wght-webfont.eot');
    src: url('../fonts/oswald-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/oswald-variablefont_wght-webfont.woff') format('woff'),
         url('../fonts/oswald-variablefont_wght-webfont.ttf') format('truetype'),
         url('../fonts/oswald-variablefont_wght-webfont.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'beginner';
    src: url('../fonts/edusabeginner-variablefont_wght-webfont.eot');
    src: url('../fonts/edusabeginner-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/edusabeginner-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/edusabeginner-variablefont_wght-webfont.woff') format('woff'),
         url('../fonts/edusabeginner-variablefont_wght-webfont.ttf') format('truetype'),
         url('../fonts/edusabeginner-variablefont_wght-webfont.svg#edu_sa_beginnerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*-- END FONT FAMILY --*/
/* ||||||||||||||||||| */
html, body{
    height: 100%;
    margin: 0;
}

body {
  margin: 0;
  font-family: "Courier New", monospace;
  background: var(--bg-dark);
  color: var(--text-dark);

  /* min-height: 100vh;
  display: flex;
  flex-direction: column; */

  transition: 0.4s ease;
}

main{
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

footer{
    padding: 1rem;
}

body.light {
  background: var(--bg-light);
  color: var(--text-light);
}

header {
  padding: 2rem;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  display: flex;
  justify-content: space-evenly;
}

header > div{
    min-width: 35vw;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

body.light .cursor {
  background: var(--secondary-light);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 25vw;
}
nav a {
  color: var(--secondary-dark);
  text-decoration: none;
  margin-right: 1rem;
}
/* Linear-Border */
.linear-border {
  position: relative;
  display: inline-block;
  padding: 10px;
  border-radius: 30px;
  color: var(--secondary-light);
  cursor: pointer;
}

/* Línea inferior animada */
.linear-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: var(--secondary-dark);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

/* Línea derecha animada */
.linear-border::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: var(--secondary-dark);

  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.4s ease 0.4s; /* empieza después */
}

.linear-border:hover::after {
  transform: scaleX(1);
}

.linear-border:hover::before {
  transform: scaleY(1);
}
/* End linear border */

a:hover{
    color: var(--secondary-dark);
}

/* body.light nav a {
  color: var(--secondary-light);
} */

main {
  padding: 2rem;
  margin: auto;
  min-height: 65vh;
}

section {
  margin-bottom: 3rem;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s ease;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}

h2 {
  color: var(--primary-dark);
}

body.light h2 {
  color: var(--primary-light);
}

p{
  line-height: 1.5em;
}

button {
  background: transparent;
  border-radius: 3px;
  border: 1px solid var(--secondary-dark);
  color: var(--secondary-dark);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: var(--secondary-dark);
  color: black;
}

body.light button {
  border: 1px solid var(--secondary-light);
  color: var(--secondary-light);
}

body.light button:hover {
  background: var(--secondary-light);
  color: white;
}

footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.8rem;
  opacity: 0.6;
}


/*-- STYLE FOOTER --*/
/* **************** */

/* Copyright */
.main-footer{
    min-height: 11.6vh;
    border-top: 1px solid rgba(156, 151, 151, 0.5);
    /* margin: 3px; */
    padding: 10px;
    background-color: rgba(29, 29, 29, .9);
}
.content-copyright{
    font-family: 'oswaldregular';
    font-size: .9em;
    text-align: center;
    color: whitesmoke;
}

.big-copyright {
    font-size: 11px;
    font-family:'beginner';

}
/* Corazón footer  */
/* Animación y presentación */
.heart {
    color: #d60000;
    font-weight: 800;
    font-size: 1.8em;
    animation-name: colors;               /* Nombre que relaciona la regla para la animación */
    animation-duration: 15s;              /* Duración de la animación*/
    animation-timing-function: ease-in;   /* El progreso de la animación*/
    animation-iteration-count: infinite;  /* La interacción es infinita */
}

@keyframes colors {
    0% {
        color: #cb4335;
    }
    25% {
        color: #03853b;
    }
    50% {
        color: #0161a1;
    }
    75% {
        color: #7203a1;
    }
    100% {
        color: #f0e805;
    }
}

/*-- END STYLE FOOTER --*/
/* |||||||||||||||||||| */


/* -- CONTENEDOR DE PROYECTOS -- */
/* ***************************** */
.proyects {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem;
  border: 1px solid #8080801f;
  border-radius: 3px;
  
}

/* Card individual */
.proyect-card {
   display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  border-radius: 12px;
  background: rgba(255,255,255,0.02);
  color: inherit;
  font-family: "Courier New", monospace;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Toda la card clicable */
.proyect-card a {
  display: block;
  text-decoration: none;
  color: inherit;
}

/* Hover: elevación + glow */
.proyect-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(138, 43, 226, 0.4);
  border: 1px solid #8a2be2;
}

/* Título */
.proyect-card h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

/* Descripción */
.proyect-card p {
  font-size: 0.9rem;
  opacity: 0.8;
  margin-bottom: 0.1rem;
}

/* Tech stack horizontal */
.tech-stack {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 1rem;
}
.proyect-card:hover{
  cursor: pointer;
}
.tech-stack img {
  width: 20px;
  height: 20px;
  /* filter: grayscale(100%) brightness(1.2); */
  /* transition: transform 0.2s ease, filter 0.2s ease; */
}

/* .tech-stack img:hover {
  filter: none;
  transform: scale(1.1);
} */
/* -- END CARDs -- */
/* ||||||||||||||| */

/* Responsive */
@media (max-width: 600px) {
  header{display: block;}
  h1 { font-size: 1.5rem; align-content: center; text-align: center;}
  nav { display: block;  gap: 0.5rem; margin: 30px; }
}

@media(max-width:1200px){
  header{display: block;}
}

/* Responsive Card*/
@media (max-width: 768px) {
  .proyects {
    /* flex-direction: column; */
    gap: 1rem;
    
  }
  
  .proyect-card {
    max-width: 100%;
  }
}
